<div id="searchBar">
	<label>
		Search: <input type="text" name="search" id="search" ng-model="query">
	</label>
	Category:
	<select ng-model="cat">
		<option></option>
		<option>Dark</option>
		<option>Cold</option>
		<option>Awesome</option>
		<option>Dry</option>
		<option>Hot</option>
		<option>Summer</option>
		<option>Lucid</option>
		<option>Warm</option>
		<option>Winter</option>
		<option>Spring</option>
	</select>
	Order by:
	<select ng-model="sortorder">
		<option value="price">price: low to high</option>
		<option value="-price">price: high to low</option>
		<option value="caffeineScale">caffeine: low to high</option>
		<option value="-caffeineScale">caffeine: high to low</option>

	</select>
	<div id="cartButton">
		<a href="/#/cart"><button>Go to cart <i class="fa fa-shopping-cart"></i> {{cartsize}} items</button></a>
	</div>
	<span class="fa-stack fa-5x" id="actualcart">
		<i class="fa fa-shopping-cart fa-stack-2x"></i>
		<strong class="fa-stack-1x" id="cartnum">{{cartsize}}</strong>
	</span>



</div>
<div ng-repeat="oneTea in data | filter:query | filter:cat | orderBy:sortorder">
	<div class="row">
		<div class="col-md-8">
			<h1>{{oneTea.name}} <i ng-repeat="star in getNumber(oneTea.rating) track by $index" class="fa fa-star"></i><!-- <i ng-repeat="star in getNumber(4-oneTea.rating) track by $index" class="fa fa-star-o"></i> --></h1>
		</div>
	</div>
	<div class="row">
		<div class="oneTeaDiv col-md-8">
		<div class="row">
			<div class="col-md-3">
				<img class="clipped" src="{{oneTea.imageUrl}}">
			</div>
			<div class="col-md-5 col-md-offset-1">
				<p>{{oneTea.ingredients}}</p>
				<h4>{{oneTea.price / 100 | currency}} {{oneTea.inStock | stockFilter}}</h4>
				<h4>caffeine scale: {{oneTea.caffeineScale}}</h4>
				<h4>categories: <span ng-repeat="cat in oneTea.categories">{{cat}}  </span></h4>
			</div>
			<div class="col-md-2">
				<br>
				<br>
				<h4>Caffeine Meter:</h4>
				<div class="box gauge--1">
				    <div class="mask">
				        <div class="semi-circle"></div>
				        <caffeine-scale mg="oneTea.caffeineScale"></caffeine-scale>
<!-- 				    <div ng-style="{'transform': 'rotate(' + {{ oneTea.caffeineScale / 1.6 }} + 'deg)'}" class="semi-circle--mask"></div>
 -->				    </div>
				</div>
			</div>
		</div>
		</div>
		<div class="col-md-1">
			<form name="addToCart" ng-submit="add(oneTea)">
	 			<button type="submit">add to cart</button>
				<br>
				quantity:

				<select name="quantity" ng-model="oneTea.more">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
 				</select>

			</form>





		</div>
	</div>
</div>