body {
	background-color: white;
	/*background: linear-gradient(to left, #FAFAFA, white);*/
	font-family: 'Exo 2', sans-serif;
	color:#3E7CB1;
}

.clipped {
	-webkit-clip-path: inset(25px 20px 40px 10px);
	/* values are from-top, from-right, from-bottom, from-left */
	margin: -25px -20px -40px -10px;
}

.oneTeaDiv {
	width:80%;
	/*background-color: white;*/
	border-radius :3px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E7CB1;
	margin-bottom:20px;
	z-index: 2;
}	

h1 {
	margin-bottom: -6px;
	z-index: 99;
	text-align: center;
}

button {
	background-color: #3E7CB1;
	border-radius: 4px;
	color:white;
	border:none;
}

select {
	margin: 10px;
	height: 25px;
	background: #3E7CB1;
	/*background: rgba(136,195,234,0.9);*/
	color:white;
	font-size: 110%;
	border:none;
	}

select:focus {
	outline: none;
}

.big {
	font-weight: 900;
	font-size: 500%;
	text-align: left;
	text-decoration: none;
	margin-bottom: 30px;
}

#searchBar {
	/*text-align: center;*/

}

#cartnum {
	color:white;
	margin-top:-0.3em;
	font-size: 75%
}

#actualcart {
	position: absolute;
	top:20px;
	right:40px;
}

#cartButton {
	display: inline;
}

#teaQuant {
  width: 50px;
  margin-top: 5px;
}

/*meter stuff*/


.content {
  display: flex;
}

.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem;
 }

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

caffeine-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  /*transform: rotate(40deg);*/
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;
}
caffeine-scale::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}



