body {
	background-color: white;
	/*background: linear-gradient(to left, #FAFAFA, white);*/
	font-family: 'Exo 2', sans-serif;
	color:#3E7CB1;
}

.clipped {
	-webkit-clip-path: inset(25px 20px 40px 10px);
	/* values are from-top, from-right, from-bottom, from-left */
	margin: -25px -20px -40px -10px;
}

.oneTeaDiv {
	width:80%;
	/*background-color: white;*/
	border-radius :3px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E7CB1;
	margin-bottom:20px;
	z-index: 2;
}	

h1 {
	margin-bottom: -6px;
	z-index: 99;
	text-align: center;
}

button {
	background-color: #3E7CB1;
	border-radius: 4px;
	color:white;
	border:none;
}

select {
	margin: 10px;
	height: 25px;
	background: #3E7CB1;
	/*background: rgba(136,195,234,0.9);*/
	color:white;
	font-size: 110%;
	border:none;
	}

select:focus {
	outline: none;
}

.big {
	font-weight: 900;
	font-size: 500%;
	text-align: left;
	text-decoration: none;
	margin-bottom: 30px;
}

#searchBar {
	/*text-align: center;*/

}

#cartnum {
	color:white;
	margin-top:-0.3em;
	font-size: 75%
}

#actualcart {
	position: absolute;
	top:20px;
	right:40px;
}

#cartButton {
	display: inline;
}